@use "./base.scss";
@use "./themes";

// put your custom CSS here!
/* ノート内の画像が幅を超えないようにする */
.popover-hint, article img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1.5rem 0; /* 中央寄せにして上下に余白を作る（お好みで） */
  border-radius: 8px;   /* 角を少し丸くするとモダンに見えます */
}

.page-title a {
  display: block;
  width: 200px;
  height: 50px;
  background-image: url('/my-knowledge-site/static/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: -9999px;
  overflow: hidden;
}

.katex-display {
  padding: 1rem;
  border-radius: 8px;
}

body pre>code {
  padding: 16px !important;
}

body table {
  width: 100% !important;
  margin: 1rem auto !important;
}

@media (max-width: 768px) {
  .center {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
